/*#p5sketch {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: none;
}*/

body {
	margin: 0;
}

#counter {
	background: #666;
	border: 2px solid black;
	border-radius: 5px;
	align-self:flex-start;
	padding: 5px;
}

#buttons_container {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

#container {
	display: flex;
	flex-flow: row no-wrap;
}


